<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
        <img src="/images/ClinicaSalud+Imagen.png" alt="Logo Clínica" class="logo">
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/pacientes/ver">Pacientes Cargados</a></li>
            <li><a href="/turnos/ver">Turnos Cargados</a></li>
        </ul>
        </div>
</nav>
</body>
</html>

