.categorias-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgba(100, 101, 102, 0.699);
  margin-left: 50px;
  padding: 10px;
  border-radius: 10px;
}

.categorias-container h2 {
  color: white;
  text-align: center;
  margin: 10px 0;
}

.categorias-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categorias-list li {
  margin-bottom: 10px;
}

.categoria-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: white;
}

.btn-dropdown-arrow {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dropdown-arrow img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
}

.subcategorias-list {
  list-style-type: none;
  padding-left: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subcategorias-list li {
  color: white;
  font-size: 0.9rem;
}