@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    background-color: #111111;
}

.div-form {
    font-family: Arial, sans-serif;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-tech {
    background: rgb(12, 49, 7);
    padding: 20px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(48, 109, 8, 0.1);
    width: 300px;
    text-align: center;
}

.label-form {
    color: #187710;
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left; 
}

.input-form{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #6d746a;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center; 
}

#radio-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}

.terminos-radio {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #6d746a;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center; 
    font-weight: bold;  
    transition: background-color 0.3s;
}

select:hover {
    background-color: #00ff00;
}

.button-form {
    margin-top: 15px;
    background-color: #00ff00;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.button-form:hover {
    background-color: #187710;
}