:root{
    --negro: #000;
    --verde-chillon: #00ff00;
    --verde-secundario: #187710;
    --rojo-hover: #ff0000;
    --blanco-letras: #ffffff;
    --gris: #868686;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--negro);
}
 /* <------------HEADER-----------------> */
 header{
    width: 100%;
 }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--negro);
    color: var(--blanco-letras);
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--verde-chillon);
    width: 100%;
}
  
  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 2.5rem;
    color: var(--blanco-letras);
}
  
  .logo-imagen {
    height: 60px;
}
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
  
  .nav-links a {
    text-decoration: none;
    color: var(--blanco-letras);
    font-weight: bold;
    transition: color 0.3s, transform 0.2s;
}
  
  .nav-links a:hover {
    color: var(--verde-chillon);
    transform: scale(1.05);
}

/* <--------INTRO-----------> */
.intro {
    padding: 3rem 1rem;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

/* <----------CARDS----------> */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 20px;
    width: 100%;          
    max-width: 1000px;
    padding: 10px;
    background-color: var(--negro);
    box-sizing: border-box;
}

.card {
    position: relative;
    width: 230px;
    height: 380px;
    border: 2px solid var(--verde-chillon);
    border-radius: 13px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco-letras);
    background-color: #187710;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.card h2 {
    font-size: 18px;
    margin: 0 0 0 5px;
}

.card p {
    margin: 5px 5px 0;
}


.card img {
    width: 226px;
    height: 220px;
    border-bottom: 2px solid var(--verde-chillon);
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.card button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--verde-chillon);
    border: 2px solid var(--blanco-letras);
    width: 80px;
    border-radius: 8px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    font-family: sans-serif;
}

.card button:hover {
    background-color: white;
    border: 2px solid var(--verde-chillon);
    transition: all 0.3s ease;
}




/* <----------FOOTER----------> */
footer {
    background-color: var(--negro);
    color: var(--blanco-letras);
    text-align: center;
    padding: 20px 0;
}

.footer-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-contenido p {
    margin: 0;
    font-size: 14px;
}

.iconos-redes-sociales {
    display: flex;
    gap: 20px;
}

.iconos-redes-sociales img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.iconos-redes-sociales img:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}